.sb#sidebar
  .sb-header
    img(src='../imgs/sb-bg.png')
  .sb-content
    .card.one
      h1.title Airport Parking App
      p.more An app to show you the most available lots to park before you go on that dream vacation, or dreaded business trip.
      a.btn-primary How It Works?
      a.btn-sub Skip Tutorial
    .card.two
      h1.title How It Works?
      p.more How it works: blue is a lot of parking, red is almost full
      a.btn-primary The Results
      a.btn-sub Skip Tutorial
    .card.three
      h1.title Where To Park?
      p.more Look at all the lots and choose the best one
      a.btn-primary Finish Tutorial
  .sb-toolbar
    .pagination
      .dot.active
      .dot
      .dot
  .sb-footer
    p &copy; 2017. FakeParkingApp
    
