doctype html
html(lang='en')
  head
    include partials/head
  body
    // Sidebar
    include partials/sidebar
    // Directions
    // include partials/directions
    // Dashboard
    include partials/dashboard
    // Map
    include partials/map
    // Scripts
    include partials/scripts
