@import url("https://fonts.googleapis.com/css?family=Oswald:700");
body, html {
  width: 100%;
  height: 100vh;
  font-family: 'Helvetica', sans-serif; }

* {
  box-sizing: border-box;
  line-height: 24px;
  color: #333; }

#map {
  width: 100%;
  height: 100%; }

.sb {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  height: 100%;
  z-index: 10;
  background: #fff;
  box-shadow: 2px 0 24px rgba(0, 0, 0, 0.1), 1px 0 8px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; }

.sb-header {
  position: relative; }
  .sb-header .fwd, .sb-header .back {
    position: absolute;
    top: 25px;
    color: #fff;
    font-size: 24px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center; }
    .sb-header .fwd:hover, .sb-header .back:hover {
      cursor: pointer;
      border: 1px solid white;
      border-radius: 50%;
      background: #fff;
      color: #333; }
  .sb-header .fwd {
    right: 24px;
    display: block; }
  .sb-header .back {
    left: 24px;
    display: none; }
  .sb-header img {
    width: 100%;
    height: auto; }

.sb-content {
  position: relative;
  flex: 1; }

.one {
  z-index: 15; }

.two {
  z-index: 13; }

.three {
  z-index: 11; }

.is-hidden {
  display: none !important; }

.card {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  background: #fff; }

.title {
  font-size: 48px;
  line-height: 48px;
  color: #333;
  font-family: 'Oswald', sans-serif;
  letter-spacing: -.5px;
  margin-bottom: 24px; }

.more {
  font-size: 15px;
  line-height: 24px;
  font-family: 'Helvetica', sans-serif;
  margin-bottom: 24px;
  font-weight: 300; }

.btn-primary {
  background: #1E90F0;
  padding: 16px 48px;
  color: #fff;
  font-size: 14px;
  border-radius: 4px; }
  .btn-primary:hover {
    background: #0e76cd;
    cursor: pointer; }

.btn-sub {
  margin-top: 8px;
  font-size: 10px;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.2); }
  .btn-sub:hover {
    cursor: pointer; }

.sb-toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .sb-toolbar .btn-primary {
    padding: 14px 56px;
    border-radius: 2px;
    color: #fff;
    background: #1E90EF;
    font-size: 13px; }
    .sb-toolbar .btn-primary:hover {
      cursor: pointer;
      background: #1083e3; }
  .sb-toolbar .btn-sub {
    font-size: 10px;
    color: #b4c1cb;
    text-decoration: underline;
    margin-top: 8px;
    margin-bottom: 16px; }
    .sb-toolbar .btn-sub:hover {
      cursor: pointer;
      color: #a5b5c1; }
  .sb-toolbar .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40px;
    margin: 16px 0; }
    .sb-toolbar .pagination .dot {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: rgba(30, 144, 239, 0.3); }
    .sb-toolbar .pagination .active {
      background: #1E90EF; }

.sb-footer {
  height: 50px;
  border-top: 1px solid #E3E6EA;
  display: flex;
  align-items: center;
  justify-content: center; }
  .sb-footer p {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.4); }

.dott {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.dot-mk {
  position: absolute;
  z-index: 5;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform-origin: center;
  animation: pulse 2200ms infinite ease-in-out; }

.pulse-sm {
  animation: pulse-sm 2200ms infinite ease-in-out !important; }

.mark {
  display: block;
  z-index: 10;
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  font-size: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); }

.red {
  background: #F01E61; }

.blue {
  background: #1E90F0; }

@keyframes pulse {
  0% {
    opacity: .6; }
  100% {
    width: 110px;
    height: 110px;
    opacity: 0; } }

@keyframes pulse-sm {
  0% {
    opacity: .6; }
  100% {
    width: 60px;
    height: 60px;
    opacity: 0; } }

.dashboard {
  display: flex;
  justify-content: flex-start;
  overflow-y: scroll;
  z-index: 8; }
  .dashboard .sb-header {
    width: 100%;
    height: 100px;
    background: #1E90F0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .dashboard .sb-header h1 {
      color: #fff;
      font-size: 18px; }
  .dashboard ul {
    padding: 16px; }
    .dashboard ul li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 24px; }
      .dashboard ul li h1 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 10px;
        color: #1E90F0; }
      .dashboard ul li .metrics {
        margin: 0 auto;
        width: 80%;
        display: flex;
        justify-content: space-between; }
      .dashboard ul li .free, .dashboard ul li .ada, .dashboard ul li .perFree {
        text-align: center;
        font-size: 18px; }
      .dashboard ul li .free::before {
        content: 'Free Spaces';
        opacity: .4;
        display: block;
        width: 30px;
        text-align: center;
        font-size: 12px;
        margin-bottom: 8px; }
      .dashboard ul li .ada::before {
        content: 'ADA Spaces';
        opacity: .4;
        display: block;
        width: 30px;
        text-align: center;
        font-size: 12px;
        margin-bottom: 8px; }
      .dashboard ul li .perFree::before {
        content: '% Free';
        opacity: .4;
        display: block;
        width: 30px;
        text-align: center;
        font-size: 12px;
        margin-bottom: 8px; }
